* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  background-image: url('./assets/img/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
